:root{
    --accent-color:#2196F3;
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --thirdly-text-color:#FFFFFF;
    --backgroud-color:#2F303A;
}
body{
    font-family: "Roboto", sans-serif;
    color:var(--primary-text-color) ;
    font-style: normal;
    letter-spacing: 0.03em;
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
  }
*,
*::before,
*::after{box-sizing: border-box;}
h1,
h2,
h3,
p,
ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: var(--primary-text-color);
}
ul{
    list-style: none;
}
.bold{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
}
.text{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
}
.studio{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
}
.studio.top{
    color: var(--primary-text-color);
    border: none;
}
.studio.down{
    color: var(--thirdly-text-color);
}
.Web{
    color: var(--accent-color);
}
.logo span{
    color:var(--accent-color) ; 
}
.header-nav{
    margin-left: 93px;
}
.nav-list{
    display: flex;
}
.nav-item:not(:first-child){
    margin-left: 54px;
}
.mail{
    fill: currentColor;
    margin-right: 10px;
}
.mail.m{width: 16px; height: 12px;}
.mail.t{width: 10px; height: 16px; margin-bottom: -2%;}
.contact-item:not(:first-child){margin-left: 50px;}
.contact-item{top: 7px; height: 16px;}
.nav-link{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color:var(--primary-text-color);
}
.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus{
    color:var(--accent-color);
}
.contact-link{
    color: var(--secondary-text-color);
}
.contact-link.mail::before{
    width: 20px;
    height: 14px;
    background-image: url(/images/envelope.svg);
}
.contacts-list{
    display: flex;
    margin-left: auto;
}
.section.header{padding-top: 25px;
padding-bottom: 24px;
justify-content: center;
}
.container.nav{
    display: flex;
    align-items: center;
}
.hero-title{
width: 696px;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-transform:uppercase;
letter-spacing: 0.06em;
color: var(--thirdly-text-color);
margin-left: auto;
margin-right: auto;
}
.hero-button{
    margin-top: 30px;
    background: var(--accent-color);
    color: var(--thirdly-text-color);
    border-radius: 4px;
    border: none;
    width: 200px;
    height: 50px;
    font-weight: 700;
    line-height: 30px;
    display: inline-flex;
    font-size: 16px;
    padding: 10px 24px;
    justify-content: center;
}
.hero-button:hover,
.hero-button:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.section.hero,
.footer.section{
    background-color: var(--backgroud-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
/* modal */
.section.hero{
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient(
        0deg, rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)),
        url(./images/Mimg.jpg);
    background-position: center;
}
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    pointer-events: none;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: var(--thirdly-text-color);
    text-align: right;
}
.modal button{
    padding-top: 6px;
    padding-left: 5px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 8px;
    margin-top: 8px;
}
.modal button
/* section fetures */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    margin: -1px;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.features{
    display: flex;
    justify-content: space-between;
}
.features-item{
    width: 270px;
}
.work-list{
    display: flex;
    justify-content: space-between}
.work-name{
    position: relative;
    margin-top: -70px;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    text-align: center;
    padding-top: 27px;
    
}
.work-name{
    font-weight: 700;
    font-size: 14px;
    color: var(--thirdly-text-color);
}
.sagolovok{
    text-align: center;
    font-family: 'Roboto';
    margin-bottom: 50px;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
}
.section.people{
    background: #F5F4FA;
}
.people-item{
    background: var(--thirdly-text-color);
    width: 270px;
    height: 428px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.people-item:not(:first-child){
    margin-left: 30px;
}
.people-list{
    display: flex;}
.people-img{
    width: 270px;
    height: 260px;
}
.name{
    font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
margin-top: 30px;
}
.characteristic{
    font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #757575;
margin-top: 10px;
}
.section{width: 1600px;
    padding-top: 94px;
    padding-bottom: 94px;}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* IMAGES-LINKS */
.examples{
    width: 1170px / 3;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.features-icon{
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}
.icon{
    width: 20px;
    height: 20px;
    fill: currentColor;
}
.link{
    width: 44px;
    height: 44px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #fff;
    color: #AFB1B8;
}
.link.f{
    background-color: rgba(255, 255, 255, 0.1);;
}
.link:hover,
.link:focus{
    background-color:#2196F3;
    color: white;
}
.link-list{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
.link-item:not(:first-child){
    margin-left: 10px;
}
.client-list{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.client-item:not(:first-child){
    margin-left: 30px;
}
.client-link svg{
    fill: currentColor;
    
}
.client-link{
    color: #AFB1B8;
    width: 170px;
    height: 90px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    display: inline-flex;
}
.client-link:hover,
.client-link:focus{
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}
/* footer */
address{
    color: var(--thirdly-text-color);
}
.contact-itgem{
    margin-top: 10px;
}
.contacts-listt{
    margin-top: 20px;
}
.footer-links{
    width: 206px;
    position: absolute;
    margin-left: 300px;
    margin-top: -132px;
}
.footer-title{
    color: var(--thirdly-text-color);
    font-weight: 700;
    font-size: 14px;
}
/* portfolio */
.portfolio-item:not(:first-child){
    margin-left: 8px;
}
.portfolio-button{
    border: none;
    border-radius: 4px;
    padding: 6px 26px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
}
.portfolio-button:hover,
.portfolio-button:focus{
    background: var(--accent-color);
    color: var(--thirdly-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-button-list{
    justify-content: center;
    display: flex;
    margin-bottom: 34px;}
.portfolio-img{
    margin-left: 0;
}
.thumb{
    position: relative;
    overflow: hidden;
}
.overlay{
    background: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-portfolio:hover .overlay,
.link-portfolio:focus .overlay{
    transform: translateY(0);
}
.overlay-text{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--thirdly-text-color );
}
.examples-linkportfolio{
    margin-top: 30px;
    margin-left: 30px;
    width: calc((100% - 30px * 3) /3);
    margin: 15px;
    border: 1px solid #EEEEEE;
}
.link-portfolio{
    width: 370px;
}
.examples-linkportfolio h2{
    margin-left: 24px;
}
.examples-linkportfolio p{
    margin-left: 24px;
}
.link-text{
    padding: 20px 24px;
    border-left: 1px solid var(--card-border-line);
    border-right: 1px solid var(--card-border-line);
    border-bottom: 1px solid var(--card-border-line);
}
.link-portfolio:hover .link-text,
.link-portfolio:focus .link-text{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}